@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


*{
margin: 0%;
padding: 0%;
}

html
{
    scroll-behavior: smooth;
}

#preLoader{
    width: 100%;
    height: 100vh;
}

li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

li a::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    bottom: 20px;
}

li a:hover::before{
    width: 100%;
}

li a:hover {
    opacity: 1;
}

.hero-heading
{
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#about
{
    font-size: 2em;
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.background-xenith
{
    background-color: #14062e;
}

  .footer .footer-bottom {
    background: rgb(55,33,105);
    color: #686868;
    height: 150px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
  }
  .container
  {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 15px;
      
  }
  .btn
  {
      width: 50px;
      height: 50px;
      background-color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1em;
      margin-right: 0.5em;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 10px;
  }
  i.fa
  {
      font-size: 30px;
  }
  #fb
  {
      color: #006fff;
      text-shadow: 0 0 20px #006fff;
  }
  #ig
  {
      color: #ff5f40;
      text-shadow: 0 0 20px #ff5f40;
  }
  #ln
  {
      color: #00acff;
      text-shadow: 0 0 20px #00acff;
  }
  #yt
  {
      color: #ff0000;
      text-shadow: 0 0 30px #ff0000;
  }
  #gt
  {
      color: #860c0c;
      text-shadow: 0 0 15px #860c0c;
  }
  .btn.fb-btn
  {
      box-shadow: 0 15px 15px -11px rgba(0,111,255,0.53);
  }
  .btn.fb-btn:hover
  {
      transform: scale(1.2);
      box-shadow: 0 20px 35px -9px rgba(0,111,255,0.65);
  }
  .btn.ig-btn
  {
      box-shadow: 0 15px 15px -11px rgba(255,16,39,0.5);
  }
  .btn.ig-btn:hover
  {
      transform: scale(1.2);
      box-shadow: 0 20px 35px -9px  rgba(255,16,39,0.57);
  }
  .btn.gt-btn
  {
      box-shadow: 0 15px 15px -11px #be1818;
  }
  .btn.gt-btn:hover
  {
      transform: scale(1.2);
      box-shadow:0 20px 35px -9px #860c0c;
  }
  
  .btn.yt-btn
  {
      box-shadow: 0 15px 15px -11px rgba(255, 47, 47, 0.53);
  }
  .btn.yt-btn:hover
  {
      transform: scale(1.2);
      box-shadow:0 20px 35px -9px rgba(236, 5, 5, 0.6);
  }
  
  .btn.ln-btn
  {
      box-shadow: 0 15px 15px -11px rgba(0,255,255,0.53);
  }
  .btn.ln-btn:hover
  {
      transform: scale(1.2);
      box-shadow:0 20px 35px -9px rgba(0,111,255,0.6);
  }
  h1
  {
      color: #f5f5f5;
  }
  
@keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
  position: relative;
  width: 100%;
  background: rgb(55,33,105);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:480px;
  font-family: Georgia, serif;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png"); /*add css/wave.png instead*/
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
.footer .footer-content {
    height: 370px;
    display: flex;
    margin-bottom: 10px;
  }
.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  margin-bottom: 10px;
  
}
.footer .footer-content .about {
    width: 550px;

    margin-right: 450px;
}

.footer .footer-content .links {
    width: 350px;
    margin-right: 450px;
}
.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}


.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
  }
  .footer .footer-content h3{
      color: white;
      font-family: Georgia, serif;

      
  }
  
  .footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
  }
 