.about-container{
padding: 5%;
padding-top: 1%;
}
.toggle-text{
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}
#about{
    padding-top: 6%;
    background: linear-gradient(to bottom, #170239, #771672);
    color: white;
}