@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

.about-container {
    padding: 5%;
    padding-top: 1%;
}

.toggle-text {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

#about {
    font-size: 1.3rem;
    font-family: Roboto;
    padding-top: 6%;
    /* background: transparent; */
    background: #151C36;
    /* background: linear-gradient(to bottom, #122B4E, #000000); */
    color: white;
}
#about::before
{
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to top,#181D31,transparent);
    z-index: 1000;
}

#about .uk-h3,
h3 {
    line-height: 0.8;
}

#about .uk-h2,
h2 {
    line-height: 1.1;
}