@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

.about-container {
    padding: 5%;
    padding-top: 1%;
}

.toggle-text {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

#about {
    font-size: 1.3rem;
    font-family: Roboto;
    /* padding-top: 6%; */
    /* background: transparent; */
    /* background: #151C36; */
    
    color: white;
}
.aboutcontent
{
  padding-top: 6%;
}

#about .uk-h3,
h3 {
    line-height: 0.8;
}

#about .uk-h2,
h2 {
    line-height: 1.1;
}
/* #about::before
{
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width:100%;
    height:15px;
    background: linear-gradient(to top,#002d3e, black);
    background-blend-mode: multiply;
    box-shadow: 0px 0px 5px 5px #002d3e;

}  */
/* :root {
    --smaller: .75;
  } */

.octopus
{
    position: relative;
}
.coner {
    color: white;
    margin: 0 auto;
    text-align: center;
     background: rgba(0,0,0,0);
    position: absolute;
    top:25%;
    width:100vw;

  }
  
  
  .tme {
    display: inline-block;
    font-size: 2em;
    list-style-type: none;
    padding: 2em;
    text-transform: uppercase;
    color:#FF3131;
    font-weight: bolder;
  }
  
  .tme span {
    display: block;
    font-size: 4.5rem;
    padding-bottom: 1em;
    color:#fff
  }
  
  
  
  @media all and (max-width: 768px) {
    
   
    
    .tme{
      font-size: 2em;
      padding: 1em 1.5em;
    }
    
    .tme span {
        font-size: 2em;
    }
  }
  @media screen and (max-width:450px) {
    
    .coner
    {
      top:7%;
    }
    #myVideo
    {
      height:50vh !important;
    }
    .tme{
      font-size: 1.7em;
      padding: 1em 1.5em;
    }
    
    .tme span {
        font-size: 1.7em;
    }
    
  }