
.tl-item:hover 
{
        width: 30% !important;
}
.tl-item:hover .eventname
{
 display:none;
}
.tl-item:hover .tl-content
{
  z-index:10;
  opacity:1;
  transition:all 0.5s ease 0.5s;
}
.tl-item 
{
    width:27%;
    z-index:9;
    position: relative;
    height: 360px;
    color: rgb(251, 246, 246);
    transition: width 0.5s ease;
}
.tl-content 
{
    text-size-adjust: 1%;
    z-index:0;
   opacity:0;
    position:relative;
    height:100%;
    text-align: center;
    padding:0.5%;
    margin:auto;
}
.tl-content img
{
    width:100%;
    height:30%;
}
.eventname{
    opacity:1;
    position: absolute;
    display: inline-block;
    top: 49%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.eventname p 
{
   
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration:overline underline rgb(255, 255, 255) solid 3px;
  line-height:0.5;
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.5s ease;
    opacity:1;
}
.register {
    padding:3%;
    border-radius:3px;
    transform: scale(1.2);
    box-shadow: 0 0 20px rgb(7, 11, 0);
    border-color: rgb(145, 253,0.4);
    background-color:rgba(0, 0, 7, 0.567);
    color:rgb(145, 253, 4);
}

.register:hover {
    border-radius:10px;
    box-shadow: 0 0 20px rgb(7, 11, 0);
    border-color: rgb(253, 0, 186);
    background-color:rgba(0, 0, 7, 0.567);
    color:rgb(253, 0, 186);
    text-shadow: 0 0 50px rgb(253, 0, 186);
}
