#gallery {
    overflow: hidden;
}

.img-gal {
    width: 800px;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
    .img-gal {
        width: 90%;
        height: 200px;
        object-fit: cover;
        margin: 0 60px;
    }
}