@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,600,700,900,500,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Montserrat&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --bg-color: linear-gradient(to right, "#0D1C3C", "#0D1C3C");
  --typeSpeed: 2.5s;
  --textLength: 9;
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}
#scroll
{
  height:100vh;
  width:100vw;
  position: absolute;
  z-index: 15 !important;
}
body
{
    overflow-x: hidden !important;
    
    
}
*:focus {
  outline: none !important;
}

@font-face {
  font-family: Tigerious;
  src: url("../fonts/TigeriousItalic-9YyJn.otf");
}

@font-face {
  font-family: LoveAmourBlank;
  src: url("../fonts/LoveAmourBlank-ZVRpm.ttf");
}

@font-face {
  font-family: Logistra;
  src: url("../fonts/Logistra-0WJOR.ttf");
}

@font-face {
  font-family: realdelight;
  src: url("../fonts/RealDelight-6YwJA.ttf");
}

@font-face {
  font-family: drip;
  src: url("../fonts/DripOctober-vm0JA.ttf");
}

@font-face {
  font-family: Wynford;
  src: url("../fonts/WynfordObliqueLineAlt1-4Byx9.otf");
}

@font-face {
  font-family: Crota;
  src: url("../fonts/CrotahFreeVersionItalic-z8Ev3.ttf");
}

@font-face {
  font-family: Hyperhelix;
  src: url("../fonts/HyperHelix-nRR2V.ttf");
}

html {
  scroll-behavior: smooth;
}

.lotter-bg {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 700px) {
  .lottie-bg {
    height: 100vh;
    width: 100vh;
    object-fit: cover;
  }

  .hidden {
    display: block !important;
  }

  .active {
    display: none !important;
  }
}

.hidden {
  display: none;
}

#preLoader {
  width: 100%;
  height: 100vh;
}


/* .hero-heading {
  color: white;
  font-family: "Tigerious";
} */

.heading-title {
  font-family: "Hyperhelix";
  position: relative;
  font-size: 1em;
}

.heading-title::before,
.heading-title::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.heading-title::before {
  background-image: linear-gradient(to right,
      rgba(64, 37, 113, 1),
      rgba(51, 32, 102, 1));
  animation: animateTyping var(--typeSpeed) steps(var(--textLength)) forwards;
}

.text_1 {
  font-family: "Hyperhelix";
  position: relative;
  font-size: 1em;
  animation: text1;
}

.text_1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 2s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: 1;
}

.text_1::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}


@keyframes text1 {
  from {
    width: 0px;
  }

  to {
    width: 35vw;
  }
}

@media screen and (max-width:700px) {
  @keyframes text1 {
    from {
      width: 0px;
    }

    to {
      width: 70vw;
    }
  }

}

@media screen and (max-width:400px) {
  .text_1 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 4s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: 1;
  }

  @keyframes text1 {
    from {
      width: 0px;
    }

    to {
      width: 80vw;
    }
  }

}

@media screen and (max-width:350px) {
  @keyframes text1 {
    from {
      width: 0px;
    }

    to {
      width: 90vw;
    }
  }

}

@keyframes caret {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.heading-title::after {
  width: 0.125em;
  background: white;
  animation: animateTyping var(--typeSpeed) steps(var(--textLength)) forwards,
    blink 2.5s steps(var(--textLength)) forwards;
}

@keyframes animateTyping {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.c-white {
  color: white !important;
  transition: all 0.8s ease-in;
}

#pos-rel-1 {
  max-height: 100vh;
  overflow: hidden;
}

#event {
  height: 150vh;
  overflow: hidden;
  padding-top: 70px;
}

.event-card {
  height: 40vh;
  margin: 0% 3%;
}

.section-text {
  margin: 0 5%;
}

@media only screen and (max-width: 1000px) {
  #event {
    height: 150vh;
    overflow: hidden;

    padding: 5%;
  }

  .event-card {
    height: 100vh;
    margin: 0% 3%;
  }

  #team {

    overflow: hidden;
    padding: 5%;
  }
}

@media only screen and (max-width: 700px) {

  #event {
    height: 150vh;
    overflow: hidden;
    padding: 5%;
  }

  #team {
    overflow: hidden;
    padding: 5%;
  }

  .event-card {
    height: 100vh;
    margin: 0% 3%;
  }
}

@media only screen and (max-width: 327px) {
  .section-text {
    margin: 0 auto;
  }
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  overflow: visible;
}

.content1 {
  font-family: "Tigerious";

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;



  position: relative;
}

.content1 h2 {
  position: absolute;
  color: #fff;
  font-size: 18vmin;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  font-family: "drip";
}

/* .preLoader {
  padding-right: 500px;
  margin-right: 200px;
} */


.content1 h2:nth-child(1) {
  color: #fff;
  -webkit-text-stroke: 2px #0A2647;
}

.content1 h2:nth-child(2) {
  color: #81C6E8;
  animation: animate123 4s ease-in-out infinite;
}

.textcheck {
  padding-bottom: 25px;

}

/* .uk-position-center{
  padding-left: 20px;
  margin-left: 250px;
  margin-top:80px ;
} */

@keyframes animate123 {

  0%,
  100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

/*****/
/* .conten2
{
  display: flex;
  justify-content:center ;
  align-items: center;
  min-height: 100vh;

}
.conten2 h2{
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  color: #0081C9;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  line-height: 0.70em;
   outline: none;
   animation: animate33 5s linear infinite;
}
@keyframes animate33
{
  0% ,18%, 20%, 50.1%, 60%, 65.1%,80%,90.1%,92%{
    color: #0e3742;
    box-shadow: none;

  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
   }


} */
.content2 {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content2 span
{
  font-family: "LoveAmourBlank";
}

.content2 h1 {
  padding-top: 5vw;
  /* padding-top: 400px; */
  font-size: 3em;
  text-align: center;
  color: #7DE5ED;
  font-weight: 500;
  letter-spacing: 5px;
  cursor: pointer;
  font-family: "LoveAmourBlank";
  -webkit-text-stroke: 1px #0A2647;


}

.content2 h1 span {
  transition: 0.5s;

}

.content2 h1:hover span:nth-child(1) {
  margin-right: 10px;

}

.content2 h1:hover span:nth-child(1)::after {
  content: "";
}

.content2 h1:hover span:nth-child(2) {
  margin-left: 30px;
}

.content2 h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px #fff,
    0 0 160px #fff,


}


/* navbar */
header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 5px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* header ul{
  display: flex;
  justify-content: center;
  align-items: center;

}
header ul li 
{
  list-style: none;
  margin-left: 20px;


}
header ul li a{
  text-decoration: none;
  padding-left: 10px;
  padding-right:10px;
  padding-top: 5px; 
  padding-bottom: 5px;
  color: #181D31;
  border-radius: 20px;
  

}
header ul li a:hover,.active{
  background:transparent;
  color: #181D31;


} */

#aboutit {
  font-family: "Crota";
}

@media(max-width: 768px) {
  .textcheck2 {
    font-size: 2px;
    
  }

  .textcheck {
    font-size: 2px;
   
  }
}
.dolphin {
  position: relative;
  color: #fff;
  font-size: 15px;
  width: 50vmin;
  height: 50vmin;
  margin: 1.5% auto 0;
  animation: rotatatingDelphin 2000ms ease-in-out 700ms infinite;
}
.line {
  position: absolute;
  width: 8px;
  height: 8%;
  border-radius: 5.7142857143px;
  background: linear-gradient(90deg, #0e5da6 10%, #89fae3 50%, #0e5da6 100%);
  box-shadow: 0 0 6px #1b2cff;
}
.line:nth-child(even) {
  animation: movingUp 500ms linear;
  animation-fill-mode: forwards;
}
.line:nth-child(odd) {
  animation: movingDown 500ms linear;
  animation-fill-mode: forwards;
}
.line__size1 {
  top: 80%;
  left: 0.6%;
  height: 8%;
}
.line__size2 {
  top: 74%;
  left: 5%;
  height: 11%;
}
.line__size3 {
  top: 73%;
  left: 9.8%;
  height: 13%;
}
.line__size4 {
  top: 52%;
  left: 14.5%;
  height: 34%;
}
.line__size5 {
  top: 73%;
  left: 19%;
  height: 13%;
}
.line__size6 {
  top: 74%;
  left: 23.5%;
  height: 11%;
}
.line__size7 {
  top: 80%;
  left: 28.2%;
  height: 8%;
}
.line__size8 {
  top: 42%;
  left: 19%;
  height: 28%;
}
.line__size9 {
  top: 35.5%;
  left: 23.5%;
  height: 25%;
}
.line__size10 {
  top: 32%;
  left: 28%;
  height: 24%;
}
.line__size11 {
  top: 23%;
  left: 33%;
  height: 28%;
}
.line__size12 {
  top: 13%;
  left: 33%;
  height: 8%;
}
.line__size13 {
  top: 13%;
  left: 37.5%;
  height: 36%;
}
.line__size14 {
  top: 14%;
  left: 42%;
  height: 33%;
}
.line__size15 {
  top: 18%;
  left: 46.5%;
  height: 28%;
}
.line__size16 {
  top: 48%;
  left: 46.5%;
  height: 5%;
}
.line__size17 {
  top: 21%;
  left: 51%;
  height: 24%;
}
.line__size18 {
  top: 47%;
  left: 51%;
  height: 8%;
}
.line__size19 {
  top: 20%;
  left: 55.5%;
  height: 35%;
}
.line__size20 {
  top: 20%;
  left: 60%;
  height: 32%;
}
.line__size21 {
  top: 20.5%;
  left: 65%;
  height: 25%;
}
.line__size22 {
  top: 21%;
  left: 69.5%;
  height: 22%;
}
.line__size23 {
  top: 22%;
  left: 74%;
  height: 22%;
}
.line__size24 {
  top: 25%;
  left: 79%;
  height: 21%;
}
.line__size25 {
  top: 28%;
  left: 83.5%;
  height: 19%;
}
.line__size26 {
  top: 31%;
  left: 88%;
  height: 19%;
}
.line__size27 {
  top: 35%;
  left: 92.5%;
  height: 16%;
}
.line__size28 {
  top: 46%;
  left: 97%;
  height: 6%;
}
@keyframes movingUp {
  0% {
    top: -100%;
 }
}
@keyframes movingDown {
  0% {
    top: 200%;
 }
}
@keyframes rotatatingDelphin {
  0% {
    transform: rotate(0deg);
 }
  80%, 100% {
    transform: rotate(360deg);
 }
}
.textBlock {
  position: relative;
  width: 400px;
  margin: 1% auto 0;
  text-align: center;
  animation: showInvisible 700ms linear;
  animation-fill-mode: forwards;
}
@keyframes showInvisible {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
.dolphinText {
  display: inline-block;
  text-decoration: underline;
  color: #fff;
  font-size: 2em;
  font-family: 'Shrikhand', cursive;
}
.dot {
  display: inline-block;
  transform: translateY(80%);
  width: 5.3333333333px;
  height: 5.3333333333px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
}
.dot:nth-child(1) {
  animation: showInvisible 500ms linear 1000ms infinite alternate;
}
.dot:nth-child(2) {
  animation: showInvisible 500ms linear 1300ms infinite alternate;
}
.dot:nth-child(3) {
  animation: showInvisible 500ms linear 1600ms infinite alternate;
}
.dot:nth-child(4) {
  animation: showInvisible 500ms linear 1900ms infinite alternate;
}

.sponsorimage
{
  max-height:20vmin;
  width:90% !important;
}
@media only screen and (max-width: 600px) {
  .sponsorimage
{
  max-height:50vmin;
  width:90% !important;
}
}
  
#landingpage
{
  height: 100vh;
  width:110vh;
}
