#teamContainer {
  max-height: auto !important;
}
:root {
  --size: 350px;
  --radius: calc(var(--size) * 20 / 100);
}

.largeFont {
  font-size: 30px;
  font-weight: bold;
}
.teamh {
  
  height:auto!important;
}
#team {
  overflow: hidden;
  padding-top: 10%;
}

@media only screen and (max-width: 550px) {

  :root {
    --size: 300px;
  }


}
@media (max-width: 410px)
 {
  :root {
    --size: 290px;
  }
  .image-card {
    margin-left:0px !important;
    margin-right:0px !important;
  }
  
}

#team .sectionHead {
    color: white;
}

.image-card {
  opacity: 1;
  display: block;
  width: 300px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  background-size: cover;
  margin: calc(var(--size) * 10 / 100);
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: 300px;
  border:3px solid white;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: calc(var(--size) * 10 / 100);
}

.image-card:before {

  content: "";
  position: absolute;
  top:90%;
  width: 90%;
  height: 20%;
  background-image: inherit;
  background-size: cover;
  z-index:-1;
  filter: blur(5px);
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}

.teamcontent {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  color: white;
  background: none;
  height: auto;
  margin-top: 85px;
  border: none;
  text-align: center;
  bottom: 455%;
  left: 25%;
  font-weight: bold;
}

.teamcontent h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 display: inline;
  color: rgb(251, 251, 252);
  font-size: 20px;
}
.teamcontent h3 {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline;
   color: rgb(240, 237, 243);
   margin-top:0px;

 }

 * {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card {
  transform-style: preserve-3d;
}
.dcard {
  position: relative;
  display: block;
  perspective: 500px;
}
.col-md-12, .col-md-4 {
  height: var(--size);
}
.col-md-12 .dcard {
  perspective: 3000px;
}

.dcard:hover .teamcontent {
  transform: perspective(50px) translateZ(2px);
}
 
.uk-position-top-center {
  top:0px!important;
}
.wow {
  opacity: 0;
  -webkit-transform: translate(0,50px);
  -moz-transform: translate(0,50px);
  -ms-transform: translate(0,50px);
  transform: translate(0,50px);
  -webkit-transition: opacity 1s .1s,transform .1s ease;
  transition: opacity 1s .1s,transform 0.1s ease;
  transition-delay: 0ms;
}

.wow-in-view {
  opacity: 1!important;
  -webkit-transform: translate(0,0)!important;
  -moz-transform: translate(0,0)!important;
  -ms-transform: translate(0,0)!important;
  transform: translate(0,0)!important;
}
@media  screen and (min-width:300px) and (max-width:550px) 
{
  .teamcontent
  {
    top:48%;
  }
}

@media screen and (max-width:768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    overflow: visible;
    margin-top: 10%;
  }
  
}

.container {
  position: relative;
  width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}