#time2line,
#time2line::after,
#time2line::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.timeline ul li div h2 {
  color: beige;
  border-bottom: 1px solid whitesmoke;
  padding: 0 0 1px;
  font-family:sans-serif;
  font-size: 2rem;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 100px;
  background: #fff;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%)
   rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: rgba(98, 70, 237, 0.244);
  border: 2px solid rgba(255, 255, 255, 0.443);
  box-shadow: 4px 13px 30px 1px
   rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: antiquewhite;
  
}
.timeline ul li div time {
  position: absolute;
  background: beige;
  border: 0.5px solid rgba(255, 255, 255, 0.443);
  width: 200px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: black;
}
.timeline ul li div div {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2px solid rgba(255, 255, 255, 0.443);
}
.timeline ul li div div span {
  text-align: center;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1rem;
}
.timeline ul li div .date {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -5px, 0) rotate(5deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -5px, 0) rotate(5deg);
}
.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 900px){
    .timeline ul li div{
        width: 40vw;
    }
    .timeline ul li div div{
        width:50%;
        margin: auto;
    }
    .timeline ul li:nth-of-type(even) > div{
        left: -45vw;
    }
    .timeline ul li div h2 {
      font-size: 2rem;
    }
    .timeline ul li div div span
    {
      font-size: 1rem;
    }
}
@media screen and (max-width:650px){
  
  .timeline ul li div{
    width: 75vw;
  }
    
    .timeline ul li{
      margin-left:10vw;
    }
    
    .timeline ul li:nth-of-type(even) > div{
        left: 8vw;
    }
    .timeline ul li:nth-of-type(odd) > div {
      left: 8vw;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -17px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #191b3f transparent transparent;
    }
    .timeline ul li div h2 {
      font-size: 3rem;
    }
    .timeline ul li div div span
    {
      font-size: 1.5rem;
    }
}
